@(slug: String, username: String)(implicit request: RequestHeader)

@main(Some(username)) {

    <header>
        <h1>the @slug mob</h1>
        <div class="meta">
            <span class="you">You are @username</span>
            <span class="size">14287 people</span>
        </div>
    </header>

    <div class="js-on-error alert-message error">
        <p>
            <strong>Oops!</strong> <span></span>
        </p>
    </div>

    <div class="js-on-chat discourse">
        <div class="chat-stage">
            <div class="messages"></div>
            <textarea class="speak"></textarea>
        </div>
        <ul class="members">
        </ul>
    </div>

    <script type="text/javascript" charset="utf-8">
        var WSRoute = "@routes.Application.mobChat(slug, username).webSocketURL()"
    </script>
    <script type="text/javascript" charset="utf-8" src="@routes.Assets.at("javascripts/mob.js")"></script>

}
